
$mainColor = #ff4958

/* app */
body
  background-color: #f0f0f0
  margin: 0
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
.main-color
  color: $mainColor
